.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
node_modules/
*.log
.supabase-functions-*.log

android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

*.iml
.idea/
.vscode/

.env
.env.*
supabase/.env
supabase/.env.*
supabase/.temp/
supabase/.branches/
